.filter-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	.badge {
		display: inline-block;
		position: absolute;
		top: -4px;
		right: -20px;
		min-width: 10px;
		padding: 3px 7px;
		border-radius: 50%;

		font-size: 13px;
		font-weight: bold;
		line-height: 1;
		color: #ffffffac;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		
		background-color: #77777730;
		backdrop-filter: blur(1px);
		-webkit-backdrop-filter: blur(5px);
	}
}
