.crx-class {
	color: rgb(40, 130, 123);
}

:root {
	--clr-green-light: #4caf50;
	--clr-green-dark: #00800033;
	--clr-green-checked: #45a049;
	--clr-red-light: #ff000033;
	--clr-red-checked: #a04545;
}
