:root {
	--clr-green-light: #4caf50;
	--clr-green-dark: #00800033;
	--clr-green-checked: #45a049;
	--clr-red-light: #ff000033;
	--clr-red-checked: #a04545;
}

body {
	display: block;
	position: relative;
	background-color: #222;
	color: #eee;
	width: 20rem;
	min-height: 30rem;
	margin: 0.5rem;
	-webkit-font-smoothing: antialiased;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #444;
	border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
	cursor: grab;
}
