.socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;

	position: absolute;
	top: 0px;
	right: 0px;

	.icon {
		color: #777;
		font-size: 20px;
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.2);
		}
	}
}
