:root {
	--green-color: #4CAF50:
}

body {
	display: block;
	background-color: #222;
	color: #eee;
	width: 20rem;
	height: 30rem;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

hr {
	border: none;
	border-bottom: 1px solid #444;
	margin-bottom: 0.5rem;
}

.special-text {
	color: red;
}

#task-list {
	display: flex;
	flex-wrap: wrap;
}

.task-status {
	display: inline-block;
	margin: 5px;
	font-size: 1.2rem;
	padding: 5px;
	border-radius: 5px;
	width: calc(20%);
}

.selects {
	margin-bottom: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}

.selects input {
	display: none;
}

.select-all input:checked+div,
.select-none input:checked+div,
.select-greens input:checked+div,
.select-reds input:checked+div {
	font-weight: bolder;
}

button {
	background: none;
	border: 1px solid;
	border-radius: .125rem;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
	color: #4CAF50;
	transition: 0.25s;
}

.error {
	background-color: #c91b1b;
	border-color: #c91b1b;
	color: #fff;
}

button:hover,
button:focus {
	border-color: #4CAF50;
	color: #fff;
}

.slide:hover,
.slide:focus {
	box-shadow: rgba(95, 220, 11, 0.7) 0 80px 0px 2px inset;
}
.task-status {
	display: inline-block;
	padding: 8px 3px;
	background-color: rgba(0, 128, 0, 0.2);
	cursor: pointer;
	user-select: none;
	text-align: center;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, opacity 0.3s ease;
}
.task-status.green {
	
	background-color: rgba(0, 128, 0, 0.2);
}

.task-status.green input {
	display: none;
}


.task-status.green.checked {
	background-color: #05fa10;
}


.task-status.red {
	background-color: rgb(255, 0, 0, 0.2);
}

.task-status.red input {
	display: none;
}


.task-status.red.checked {
	background-color: #8f0101;
}
