:root {
	--green-color: #4CAF50:
}

body {
	display: block;
	background-color: #222;
	color: #eee;
	width: 20rem;
	height: 30rem;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

hr {
	border: none;
	border-bottom: 1px solid #444;
	margin-bottom: 0.5rem;
}

.special-text {
	color: red;
}

#task-list {
	display: flex;
	flex-wrap: wrap;
}

.task-status {
	display: inline-block;
	margin: 5px;
	font-size: 1.2rem;
	padding: 5px;
	border-radius: 5px;
	width: calc(20% - 10px);
}

.task-status.green {
	color: #4CAF50;
	background-color: rgba(0, 128, 0, 0.2);
}

.task-status.red {
	color: #c91b1b;
	background-color: rgba(255, 0, 0, 0.2);
}

input[type="checkbox"] {
	margin-right: 5px;
}

#select-all {
	margin-bottom: 10px;
}

button {
	background: none;
	border: 1px solid;
	border-radius: .125rem;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
	color: #4CAF50;
	transition: 0.25s;
}

.error {
	background-color: #c91b1b;
	border-color: #c91b1b;
	color: #fff;
}

button:hover,
button:focus {
	border-color: #4CAF50;
	color: #fff;
}

.slide:hover,
.slide:focus {
	box-shadow: rgba(95, 220, 11, 0.7) 0 80px 0px 2px inset;
}

/* .custom-btn {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow:
		inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
		7px 7px 20px 0 rgba(0, 0, 0, .1),
		4px 4px 5px 0 rgba(0, 0, 0, .1);
	outline: none;
}

.btn-2 {
	background:
		rgb(96, 9, 240);
	background:
		linear-gradient(0deg,
			rgba(96, 9, 240, 1) 0%,
			rgba(129, 5, 240, 1)100%);
	border: none;

}

.btn-2:before {
	height: 0%;
	width: 2px;
}

.btn-2:hover {
	box-shadow:
		4px 4px 6px 0 rgba(255, 255, 255, .5),
		-4px -4px 6px 0 rgba(116, 125, 136, .5),
		inset -4px -4px6 px0 rgba(255, 255, 255, .2),
		inset4 px4 px6 px0 rgba(0, 0, 0, .4);
} */
